.sidebar {
  width: 250px;
  height: 954px;
  margin: 0 !important;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 6px 10px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px 10px;
  box-sizing: border-box;
}
.dashboard-manager-child {
  width: 527px;
  display: none;
  max-width: 100%;
  z-index: 2;
}
.button1 {
  position: relative;
  letter-spacing: 0.7px;
  line-height: 46px;
  font-weight: 600;
  display: inline-block;
  min-width: 101px;
}
.button {
  border-radius: 8px;
  background-color: #0153af;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 24px;
  white-space: nowrap;
}
.button3 {
  position: relative;
  text-decoration: underline;
  letter-spacing: 0.7px;
  line-height: 46px;
  font-weight: 600;
  display: inline-block;
  min-width: 113px;
}
.button2,
.switch-page,
.switch-page-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button2 {
  justify-content: flex-start;
  padding: 0 8px 0 0;
  color: #0153af;
}
.switch-page,
.switch-page-wrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.switch-page {
  width: 602px;
  box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 10px 16px;
  gap: 20px;
  z-index: 1;
}
.switch-page-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 84px 0 20px;
}
.dashboard-manager {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 275px;
  box-sizing: border-box;
  gap: 49px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Poppins;
}
@media screen and (max-width: 725px) {
  .switch-page-wrapper {
    padding-right: 42px;
    box-sizing: border-box;
  }
  .dashboard-manager {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .switch-page {
    flex-wrap: wrap;
  }
  .switch-page-wrapper {
    padding-right: 20px;
    box-sizing: border-box;
  }
}
