.nathana-reboucas-3ysdtzqnvtq-u-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.merchandiserinc {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.7px;
  line-height: 46px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.sign-in-sign-up-area {
  width: 216px;
  flex: 1;
  max-height: 100%;
}
.frame-child,
.sign-in,
.sign-in-sign-up-area {
  position: relative;
  z-index: 1;
}
.sign-in {
  margin: 0;
  font-size: inherit;
  text-decoration: underline;
  letter-spacing: 0.7px;
  line-height: 46px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 87px;
  white-space: nowrap;
}
.frame-child {
  width: 3px;
  height: 34px;
  border-right: 3px solid #fff;
  box-sizing: border-box;
}
.line-wrapper {
  height: 38.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7.5px 0 0;
  box-sizing: border-box;
}
.sign-up {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-decoration: underline;
  letter-spacing: 0.7px;
  line-height: 46px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 97px;
  white-space: nowrap;
  z-index: 1;
}
.sign-in-parent {
  flex-direction: row;
  gap: 16.5px;
}
.horizontal-divider,
.sign-in-parent,
.sign-in-sign-up-area-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.horizontal-divider {
  flex-direction: row;
  padding: 0 0 0 1px;
}
.sign-in-sign-up-area-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 59.7px;
}
.frame-wrapper,
.merchandiserinc-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper {
  width: 394px;
  height: 314.1px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 24px;
  font-family: Poppins;
}
.merchandiserinc-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 127.2px;
}
.all-rights-reserved {
  position: relative;
  line-height: 16px;
  z-index: 1;
}
.all-rights-reserved-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.9px 0 0;
}
.group-icon {
  height: 21.8px;
  width: 20px;
  position: relative;
  min-height: 22px;
  z-index: 1;
}
.copyright-2024 {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 108px;
  z-index: 1;
}
.copyright-2024-wrapper {
  flex-direction: column;
  padding: 2.9px 0 0;
}
.copyright-2024-wrapper,
.frame-parent,
.landing-page,
.right-reserved-message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  flex-direction: row;
  gap: 7px;
}
.landing-page,
.right-reserved-message {
  box-sizing: border-box;
}
.right-reserved-message {
  flex-direction: row;
  padding: 0 56px 0 56.5px;
  max-width: 100%;
  font-size: 14px;
  font-family: Montserrat;
}
.landing-page {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  padding: 202.7px 487.4px 50.2px;
  gap: 262px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 64px;
  color: #fff;
  font-family: "Post No Bills Colombo";
}
@media screen and (max-width: 1200px) {
  .landing-page {
    gap: 131px;
    padding-left: 243px;
    padding-right: 243px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .merchandiserinc {
    font-size: 51px;
    line-height: 37px;
  }
}
@media screen and (max-width: 750px) {
  .landing-page {
    gap: 65px;
    padding-left: 121px;
    padding-right: 121px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .merchandiserinc {
    font-size: 38px;
    line-height: 28px;
  }
  .merchandiserinc-parent {
    gap: 64px;
  }
  .landing-page,
  .right-reserved-message {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .landing-page {
    gap: 33px;
  }
}
