.signup-wrapper {
  width: 584px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 57.1px 0 0;
  box-sizing: border-box;
  min-width: 584px;
  max-width: 100%;
}
.jamie-street-pe3jgtpvty8-unspl-icon {
  position: absolute;
  top: -11px;
  left: 0;
  width: 720px;
  height: 1042.1px;
  object-fit: cover;
}
.merchandiserinc1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.7px;
  line-height: 46px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.all-rights-reserved1 {
  position: relative;
  line-height: 16px;
}
.all-rights-reserved-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.9px 0 0;
}
.group-icon1 {
  height: 21.8px;
  width: 20px;
  position: relative;
  min-height: 22px;
}
.copyright-20241 {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 108px;
}
.copyright-2024-container {
  flex-direction: column;
  padding: 2.9px 0 0;
}
.copyright-2024-container,
.frame-container,
.frame-group,
.merchandiserinc-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  flex-direction: row;
  gap: 7px;
}
.frame-container,
.merchandiserinc-group {
  box-sizing: border-box;
  max-width: 100%;
}
.frame-container {
  flex-direction: row;
  padding: 0 59px 0 59.5px;
  font-size: 14px;
  font-family: Montserrat;
}
.merchandiserinc-group {
  position: absolute;
  top: -1.9px;
  left: 0;
  background-color: rgba(1, 83, 175, 0.82);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  padding: 175px 20px 54.3px 148.5px;
  gap: 726.9px;
  height: 100%;
  z-index: 1;
}
.jamie-street-pe3jgtpvty8-unspl-parent {
  height: 1024px;
  flex: 1;
  position: relative;
  min-width: 468px;
  max-width: 100%;
}
.sign-up1 {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 68px;
  box-sizing: border-box;
  gap: 68px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 64px;
  color: #fff;
  font-family: "Post No Bills Colombo";
}
@media screen and (max-width: 1125px) {
  .signup-wrapper {
    flex: 1;
  }
  .sign-up1 {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .signup-wrapper {
    padding-top: 37px;
    box-sizing: border-box;
  }
  .merchandiserinc1 {
    font-size: 51px;
    line-height: 37px;
  }
}
@media screen and (max-width: 750px) {
  .signup-wrapper {
    padding-top: 24px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .merchandiserinc-group {
    gap: 363px;
    padding-left: 74px;
    box-sizing: border-box;
  }
  .jamie-street-pe3jgtpvty8-unspl-parent {
    min-width: 100%;
  }
  .sign-up1 {
    gap: 34px;
  }
}
@media screen and (max-width: 450px) {
  .merchandiserinc1 {
    font-size: 38px;
    line-height: 28px;
  }
  .frame-group {
    flex-wrap: wrap;
  }
  .frame-container {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .merchandiserinc-group {
    gap: 182px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .jamie-street-pe3jgtpvty8-unspl-parent {
    height: auto;
    min-height: 1024;
  }
  .sign-up1 {
    gap: 17px;
  }
}
