.merchandiserinc3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.7px;
  line-height: 46px;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
  debug_commit: 1de1738;
  white-space: nowrap;
}
.merchandiserinc-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.iconsolidbell {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconsolidbell-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 0 0;
}
.vector-icon {
  width: 23px;
  height: 23px;
  position: relative;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.eric-widget {
  margin-bottom: -4px;
  position: relative;
  letter-spacing: 0.7px;
  display: inline-block;
  min-width: 50px;
  flex-shrink: 0;
  debug_commit: 1de1738;
  white-space: nowrap;
}
.eric-widget-wrapper {
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.developer {
  position: relative;
  font-size: 12px;
  letter-spacing: 0.6px;
  color: #80a9d7;
  display: inline-block;
  min-width: 67.5px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.frame-parent2 {
  flex: 1;
  flex-direction: column;
}
.frame-parent2,
.group-div,
.navbar-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-div {
  align-self: stretch;
  flex-direction: row;
  gap: 12px;
}
.navbar-inner {
  width: 157.9px;
  flex-direction: column;
  padding: 5.5px 0 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #003775;
  font-family: Poppins;
}
.header,
.header-wrapper,
.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.navbar {
  width: 1152px;
  justify-content: space-between;
  gap: 20px;
}
.header,
.header-wrapper {
  box-sizing: border-box;
}
.header {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  justify-content: center;
  padding: 16px 20px;
  z-index: 1;
  text-align: left;
  font-size: 36px;
  color: #0053af;
  font-family: "Post No Bills Colombo";
}
.header-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 31px;
  top: 0;
  z-index: 99;
  position: sticky;
}
@media screen and (max-width: 450px) {
  .frame-parent2 {
    display: none;
  }
}
