.label-caption,
.label2 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.label-caption {
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  display: none;
}
.label1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.placeholder {
  flex: 1;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-family: Montserrat;
  color: #999;
  text-align: left;
}
.input-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.input,
.input-field,
.input1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input1 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  flex-direction: row;
  padding: 14px 15px;
  gap: 8px;
  white-space: nowrap;
}
.input,
.input-field {
  flex-direction: column;
}
.input {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
}
.input-field {
  flex: 1;
  gap: 8px;
  min-width: 120px;
  text-align: left;
  font-size: 20px;
  color: #222;
  font-family: Montserrat;
}
@media screen and (max-width: 450px) {
  .label2 {
    font-size: 16px;
    line-height: 19px;
  }
}
