.icons9 {
  height: 26px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.routes-plan9 {
  position: relative;
  font-size: 20px;
  letter-spacing: 0.7px;
  line-height: 46px;
  font-weight: 600;
  font-family: Poppins;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 64px;
}
.btns9 {
  cursor: pointer;
  border: 0;
  padding: 8px 16px;
  background-color: #0053af;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
}
.btns9:hover {
  background-color: #267ad6;
}
.icons10 {
  height: 26px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.routes-plan10 {
  position: relative;
  letter-spacing: 0.7px;
  line-height: 46px;
  font-weight: 600;
  display: inline-block;
  min-width: 129px;
}
.btns10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  gap: 13px;
}
.icons11 {
  height: 26px;
  width: 26px;
  position: relative;
}
.routes-plan11 {
  position: relative;
  letter-spacing: 0.7px;
  line-height: 46px;
  font-weight: 600;
  display: inline-block;
  min-width: 89px;
}
.btns11 {
  flex-direction: row;
  align-items: center;
  padding: 8px 35px;
  gap: 14px;
}
.btns11,
.sidebar-links3,
.sidebar3 {
  display: flex;
  justify-content: flex-start;
}
.sidebar-links3 {
  flex-direction: column;
  align-items: center;
  gap: 29px;
}
.sidebar3 {
  margin-left: -298px;
  height: 954px;
  width: 250px;
  box-shadow: 6px 10px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  flex-direction: row;
  align-items: flex-start;
  padding: 50px 10px;
  box-sizing: border-box;
  min-width: 250px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.octiconfilter-24 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.f-r-a-m-e2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11px 0 0;
}
.g-r-o-u-p {
  border: 0;
  outline: 0;
  background-color: #e0eefc;
  height: 33px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 6px;
  left: 0;
  border-radius: 50px;
}
.iconsolidsearch {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.t-e-x-t {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 0 0;
}
.search-routemerchandiserdate {
  width: 218px;
  border: 0;
  outline: 0;
  font-family: Poppins;
  font-size: 12px;
  background-color: transparent;
  height: 46px;
  position: relative;
  letter-spacing: 0.7px;
  line-height: 46px;
  color: #757575;
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.filter1,
.g-r-o-u-p-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.g-r-o-u-p-parent {
  flex: 1;
  padding: 0 11px;
  box-sizing: border-box;
  position: relative;
  gap: 10px;
  max-width: 100%;
}
.filter1 {
  width: 326px;
  max-width: calc(100% - 44px);
}
.f-r-a-m-e1,
.filter,
.i-n-s-t-a-n-c-e1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
}
.filter {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 23px 10px 19px;
  debug_commit: 1de1738;
  gap: 20px;
}
.f-r-a-m-e1,
.i-n-s-t-a-n-c-e1 {
  justify-content: flex-start;
}
.f-r-a-m-e1 {
  width: 612px;
  flex-direction: column;
  padding: 56px 0 0;
  min-width: 612px;
}
.i-n-s-t-a-n-c-e1 {
  width: 1202px;
  flex-direction: row;
  padding: 0 295px;
  gap: 48px;
  debug_commit: 1de1738;
  text-align: left;
  font-size: 20px;
  color: #0053af;
  font-family: Poppins;
}
@media screen and (max-width: 1350px) {
  .sidebar3 {
    flex: 1;
  }
  .f-r-a-m-e1 {
    flex: 1;
    min-width: 100%;
  }
  .i-n-s-t-a-n-c-e1 {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 147px;
    padding-right: 147px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .i-n-s-t-a-n-c-e1 {
    gap: 24px;
    padding-left: 73px;
    padding-right: 73px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .routes-plan10,
  .routes-plan11,
  .routes-plan9 {
    font-size: 16px;
    line-height: 37px;
  }
  .i-n-s-t-a-n-c-e1 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
