.close-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.close,
.log-in3 {
  align-self: stretch;
}
.close {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.log-in3 {
  position: relative;
  font-size: 34px;
  letter-spacing: -0.8px;
  line-height: 40px;
  font-family: Montserrat;
  color: #0053af;
  text-align: center;
  white-space: nowrap;
}
.header4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.label-caption3,
.label8 {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-family: Montserrat;
  color: #222;
  text-align: left;
}
.label-caption3 {
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  display: none;
}
.label7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.input-icon2,
.placeholder2 {
  height: 24px;
  position: relative;
}
.placeholder2 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: Montserrat;
  font-size: 20px;
  background-color: transparent;
  flex: 1;
  line-height: 24px;
  color: #999;
  text-align: left;
  display: inline-block;
  min-width: 250px;
  white-space: nowrap;
  max-width: 100%;
  padding: 0;
}
.input-icon2 {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.input-field3,
.input5,
.input6 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input6 {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  flex-direction: row;
  padding: 14px 15px;
  gap: 8px;
}
.input-field3,
.input5 {
  flex-direction: column;
}
.input-field3 {
  gap: 8px;
}
.label-caption4,
.label10 {
  align-self: stretch;
  position: relative;
  font-family: Montserrat;
  color: #222;
  text-align: left;
}
.label10 {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
.label-caption4 {
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  display: none;
}
.label9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.input-field4,
.input7 {
  align-self: stretch;
  max-width: 100%;
}
.input7 {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: Montserrat;
  font-size: 20px;
  color: #999;
}
.input-field4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.forgot-password {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-family: Montserrat;
  color: #0057ff;
  text-align: right;
}
.password {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  max-width: 100%;
}
.vector-icon5 {
  width: 14px;
  height: 9.6px;
  position: relative;
}
.checkbox1 {
  height: 18px;
  width: 18px;
  border-radius: 1px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.2px 1px;
}
.remember-me {
  flex: 1;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-family: Montserrat;
  color: #222;
  text-align: left;
  display: inline-block;
  max-width: calc(100% - 26px);
}
.fields,
.label-checkbox {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.label-checkbox {
  height: 16px;
  flex-direction: row;
  gap: 8px;
}
.fields {
  flex-direction: column;
  padding: 0 16px;
  box-sizing: border-box;
  gap: 24px;
}
.log-in4 {
  position: relative;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  font-family: Montserrat;
  color: #fff;
  text-align: left;
  min-width: 62px;
}
.button35 {
  cursor: pointer;
  border: 0;
  padding: 15px 35px;
  background-color: #0153af;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}
.button35:hover {
  background-color: #267ad6;
}
.dont-have-an,
.sign-up6 {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-family: Montserrat;
  color: #222;
  text-align: center;
}
.sign-up6 {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  color: #0053af;
  min-width: 74px;
  white-space: nowrap;
}
.buttons1,
.log-in2,
.sign-up5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 4px;
}
.buttons1,
.log-in2 {
  justify-content: flex-start;
  padding: 0 14px;
  gap: 20px;
}
.log-in2 {
  margin: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #fff;
  padding: 32px 16px;
  box-sizing: border-box;
  gap: 40px;
  max-width: 100%;
}
@media screen and (max-width: 1050px) {
  .log-in3 {
    font-size: 27px;
    line-height: 32px;
  }
}
@media screen and (max-width: 750px) {
  .log-in2 {
    gap: 20px;
    padding-top: 21px;
    padding-bottom: 21px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .log-in3 {
    font-size: 20px;
    line-height: 24px;
  }
  .label10,
  .label8,
  .placeholder2 {
    font-size: 16px;
    line-height: 19px;
  }
}
